.title {
  margin-top: 1vh;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  color: var(--color-blue);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 11pt;
}

.form label {
  user-select: none;
  text-align: left;
}

.form input {
  font-size: 11pt;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  padding: 7px;
  height: fit-content;
  margin-top: 10px;
  min-width: min(474px, 80vw);
  transition: var(--fast-transition);
}

.form input:focus {
  border-color: cornflowerblue;
  outline: none;
  box-shadow: 1px 1px 4px -1px var(--color-blue);
}

.form button {
  font-size: 12pt;
  font-family: inherit;
  background: var(--color-blue);
  color: white;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  padding: 10px 55px;
  cursor: pointer;
  transition: var(--fast-transition);
}

.form button:hover,
.form button:disabled {
  background: white;
  color: var(--color-blue);
}

.form select {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid var(--color-blue);
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
