:root {
  --background: #ffffff;
  --foreground: #1b1f3b;

  --color-blue: #526ed3;
  --color-orange: #f45725;

  --font-manrope: ;

  --slow-transition: 800ms;
  --medium-transition: 400ms;
  --fast-transition: 200ms;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-manrope);
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

h4 {
  font-size: small;
}

h5 {
  font-size: x-small;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100vw;
}

dialog {
  position: absolute;
  margin: auto;
  width: 500px;
  max-width: 90vw;
  border-radius: 15px;
  border: 1px solid var(--color-blue);
  box-shadow: 1px 1px 5px 3px var(--color-blue);
  min-width: 0;
  height: min-content;
  min-height: 0;
  background: white;
}

@media screen and (max-width: 600px) {
  dialog {
    min-width: 10vw;
  }
}

@media screen and (max-width: 400px) {
  dialog {
    max-width: 95vw;
  }
}
