.write_desk {
    display: flex;
    flex-direction: column;
    margin: 10px 10%;
    padding: 10px;
    gap: 1rem;
    color: var(--foreground);
}

.write_desk * {
    color: inherit;
}

.text {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--foreground);
    resize: vertical;
}

.write_desk.collapsed > *:not(.text) {
    display: none !important;
}

.write_desk .publish {
    border: 1px solid var(--foreground);
    margin: 20px 0 10px auto;
    width: max-content;
    padding: 10px 15px;
    background: var(--foreground);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--fast-transition);
}

.write_desk .publish:hover {
    background: white;
    color: var(--foreground);
}